{:base-url "http://cryspithoughts.com/"
 :doc-root "app"
 :site-title "CT"
 :description "Here I will write about my discoveries in everything what I encounter and what I find to be interesting and useful. This blog must be regarded as a diary or a notebook of everything what I have learned, studied, experienced. Hopefully, my posts would be useful to others as well.

The main topics of this blog: programming, web development, JavaScript, Clojure(Script), Python, languages, artlangs, books, movies.

There won’t be many words, only the useful and important information."}
